WORKFLOW_MYSQL_PORT=3307
WORKFLOW_MYSQL_ROOT_PASSWORD=mirap
WORKFLOW_MYSQL_DATABASE=mirap_workflow
WORKFLOW_MYSQL_USER=mirap
WORKFLOW_MYSQL_PASSWORD=mirap123

WORKFLOW_REDIS_PORT=6380
WORKFLOW_REDIS_AOF_ENABLED=no
WORKFLOW_REDIS_IO_THREADS=4
WORKFLOW_REDIS_ALLOW_EMPTY_PASSWORD=yes
